*{
  margin: 0;
  padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
nav{
 padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  width: 1600px;
 
}
.nevber{
  max-width: 1600px;
  height: 92px;
}

  
  
.logo{
  display: flex;
  gap: 30px;
  margin: 32px;
  list-style: none;
}
nav .menu{
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  gap: 32px;
  text-align: left;

}
.btn-1{
  padding-right: 120px;

}
.btn-b{
 background-color: #30B868;
 font-size: 16px;
 font-weight: 600;
 padding: 12px 16px;
 color: #FFFFFF;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}
nav .logo-img{
  width: 139px;
  height: 60px;
  margin: 16px;
  padding-left: 120px;
}
nav .menu a{
  text-decoration: none;
  color: #000000;
}
.rediant-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  width: 229px;
  height: 35px;
}
#main{
  background-image: url(../image/hero-bg.png);
  background-repeat: no-repeat;
  width: 1600px;
  height: 674px;
}
  
.section-main{
 width: 1360px;
 height: 379px;
margin-left: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.rediant-bg{
display: flex;
justify-items: center;
justify-content: center;
}
.rediant-bg2{
  display: flex;
  justify-self:center;
  align-items: center;
  
}
.title-spen{
  color: #30B868;
}
.title{
  color: #FFFFFF;
  font-size: 72px;
  padding-top: 16px;
}
.section-main{
  justify-content: center;
padding-top: 151px;
  text-align: center;
  padding-bottom: 0px;
}
.section-p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
}
.btn-group{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  background-color: none;
  padding-top: 32px;
 
  
}
.btn-second i{
  padding-right: 10px;
  /* height: 20px; */
  width: 20px;
   
}
.btn-second{
  padding: 12px 20px;
  border: 6px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600px;
background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
 cursor: pointer;
}
.btn-primary i{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.btn-primary{
 padding: 12px 20px;
  border: 6px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600px;
  background-color: #30B868;
  border-radius: 4px;
  cursor: pointer;

}
.btn-primary:hover{
  background: transparent;
  background-color: rgba(243, 230, 230, 0.756);
}
.btn-second:hover{
  background: transparent;
  background-color: rgba(255,255,255,0.15);
}
/* Meddle section */

 
#midle-section{
  width: 1360px;
  /* height: 153px; */
  /* border: 1px solid red; */
  text-align: center;
  margin-left: 120px;
}
.midle-div{
  width: 1360px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.midle-title{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.midle-p{
  font-size: 16px;
  color: #627382;
  padding-top: 16px;
  padding-bottom: 0px;
}
.skill-box{
  padding-top: 44px;
  display: flex;
  width: 1360px;
  /* height: 300px; */
  gap: 24px;
 
}
.skill-card{
  box-shadow: #627382;
}
.skill-box img{
  background-color: #F95555;
  border-radius: 30px;
  padding: 13px 14px;
   margin: 70px 107px 16px 107px;
}

.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  box-shadow: 0px 0px 8px 0px #00000041;


}
.skill-card h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.skill-card p{
  font-size:16px ;
  color:#627382 ;
}
.knowledge-img{
  width: 600px;
}
.resume{
  margin-top: 120px;
  max-width: 1360px;
}
.driscription-part{
  display: flex;
}
.resume-section{
  display: flex;
}
#resume{
  width: 1360px;
  /* border: 1px solid red; */
  margin: 120px 120px;
  display: flex;
  gap: 60px;
}
#resume .image-resume{
  max-width: 600px;
  /* border: 1px solid red; */
  border-radius: 12px;
}
#resume .img-1{
  display: flex;
}
#resume .resume-container{
  padding-top:102px;
  text-align: left;
}
.heading-1{
  font-size: 16px;
  color: #469165;
  font-weight: 500px;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.heading-2{
  color: #001931;
  font-size: 48px;
  font-weight: 700px;
  line-height: 58px;
  text-transform: capitalize;
  max-width: 700px;
  text-align: left;
}
.resume-p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
  max-width: 700px;
  padding-top: 16px;
  padding-bottom: 40px;
}
.container-img p{
  font-size: 16px;
  width: 500px;
  line-height: 20px;
  color: #001931;
  
}
.container-img .img-1{
  padding-bottom: 16px;

}
#Ready-1 {
  max-width: 1360px;
  border: 1px solid #F7F6F2;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(247,246,242,1);
}
#Ready-1 .ready-section-1{
  max-width: 1280px;
  /* border: 1px solid red; */
  padding-top: 8opx;
  margin-left: 40px;
}
.ready-section-1 .ready-heading{
  color: #001931;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700px;
  line-height: 48px;
  text-transform: capitalize;
  
}
.ready-section-1 .ready-p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* padding-bottom: 24px; */
  padding-top: 16px;
}
.btn-get{
  padding-top: 24px;
  padding-bottom: 80px;
  /* border: 1px solid red; */
}
.btn-get .credit-last{
  font-size:16px ;
  width: 400px;
  color: #627382;
  padding-top: 16px;
  margin: auto;
  
}
footer{
  background-color: #001931;
}
#footer-section{
  max-width: 1360px;
  padding: 120px 120px 76px 120px;
}
.footer-container{
  /* border: 1px solid snow; */
  display: flex;
  justify-content: space-between;
}
.footer-h {
  color:  #FFFFFF;
}
#footer-section hr{
  margin-top: 80x;
}

#footer-section .footer-p{
  color: rgba(229, 231, 235, 1);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 30px;
}
.footer-last{
  margin-top: 80px;
  margin-bottom: 30px;
}

.social-link i{
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 16px;
  gap: 16px;
}

