*{
  margin: 0;
  padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
nav{
 padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
 
}
header{
  
  
}
.logo{
  display: flex;
  gap: 30px;
  margin: 32px;
  list-style: none;
}
nav .menu{
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  gap: 32px;
  text-align: left;

}
.btn-1{
  padding-right: 120px;

}
.btn-b{
 background-color: #30B868;
 font-size: 16px;
 font-weight: 600;
 padding: 12px 16px;
 color: #FFFFFF;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}
nav .logo-img{
  width: 139px;
  height: 60px;
  margin: 16px;
  padding-left: 120px;
}
nav .menu a{
  text-decoration: none;
  color: #000000;
}
.rediant-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #30B868;
  width: 229px;
  height: 35px;
}
#main{
  background-image: url(../image/hero-bg.png);
  background-repeat: no-repeat;
  width: 1600px;
  height: 674px;
}
  
.section-main{
 width: 1360px;
 height: 379px;
margin-left: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.rediant-bg{
display: flex;
justify-items: center;
justify-content: center;
}
.rediant-bg2{
  display: flex;
  justify-self:center;
  align-items: center;
  
}
.title-spen{
  color: #30B868;
}
.title{
  color: #FFFFFF;
  font-size: 72px;
  padding-top: 16px;
}
.section-main{
  justify-content: center;
padding-top: 151px;
  text-align: center;
  padding-bottom: 0px;
}
.section-p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
}
.btn-group{
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 12px;
  background-color: none;
  padding-top: 32px;
 
  
}
.btn-second i{
  padding-right: 10px;
  height: 20px;
  width: 20px;
   
}
.btn-second{
  padding: 12px 20px;
  border: 6px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600px;
background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
 cursor: pointer;
}
.btn-primary i{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.btn-primary{
 padding: 12px 20px;
  border: 6px;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600px;
  background-color: #30B868;
  border-radius: 4px;
  cursor: pointer;

}
.btn-primary:hover{
  background: transparent;
  background-color: rgba(243, 230, 230, 0.756);
}
.btn-second:hover{
  background: transparent;
  background-color: rgba(255,255,255,0.15);
}